<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="~/content/site.css"/>
</head>
<body>
    <div class="container body-content">
        <div class="row">
            @RenderBody()
        </div>
    </div>
    
</body>
</html>
